<!-- to get all categories -->
@model IEnumerable<FreelanceSystemDemo.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron alert">
    <h1>Hello</h1>
    <p>Welcome to freelance system. You can share your work if you are a freelancer or you ca hire someone to do a job for you as a client</p>
    <p><a href="http://asp.net" class="btn btn-dark btn-lg">Learn more &raquo;</a></p>
</div>


<div>
    @foreach (var item in Model) // to view all job categories
    {
        <div class="" style="margin:10px;">
            <h1>@Html.DisplayFor(modelItem => item.CategoryName)</h1>
            <h4>@Html.DisplayFor(modelItem => item.CategoryDescription)</h4>
            <div class="row">
                @foreach (var subItem in item.Jobs) // to view jobs inside each category
                {
                    if (subItem.PostStatus)
                    {
                        <div class="list-group-item" style="margin-left:30px; margin-bottom:30px; background-color:#45464880; padding:10px; border:solid; border-color:#b4abb7; height:360px; ">
                            <img src="~/Uploads/@subItem.JobImage" class="thumbnail" style="width:200px; height:200px; border:solid; border-color:black;" />
                            <h3>@Html.DisplayFor(modelItem => subItem.JobTitle)</h3>
                            <hr style="width: 50%" />
                            @Html.ActionLink("Details", "Details", new { JobId = subItem.Id }, new { @class = "btn btn-default btn-dark" })
                        </div>
                    }

                }
            </div>
        </div>
    }
</div>
